/* Universal selector and elements */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color:whitesmoke;
}

:root {
    --theme: rgb(53, 52, 52);
    --highlight1: cadetblue;
    --highlight2: rgb(19, 149, 224);
}

body {
    background-color: whitesmoke;
    font-family: Arial;
}

a {
    text-decoration: none;
}

p {
    font-size: 16px;
    color:black;
}

/* Header properties */

.header {
    padding: 18px;
    font-family: 'courier new', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--theme);
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header h1 {
    display: inline-block;
    background-color: var(--highlight2);
    font-size: 52px;
    letter-spacing: 1.5;
    width: 370px;
    position: relative; top: 5; right: 17;

}
.header h1 .Dinh {
    position:relative; left: 75;
    
}

h1::after {
    color: var(--theme);
    position: relative; 
    left: 75;
    content: "Tran";

}

/* Navigation properties */

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    margin-bottom: 35px;
    float: right;
    font-family: 'courier new', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
   
}

.header nav ul li {
    display: inline-block;
    margin-left: 90px;
    position: relative; top:20px; right:40px;
    border-bottom: 2px solid var(--highlight1);
    position: relative;
 
}

nav a:hover {
    color: var(--highlight2);
    font-weight: bolder;
}

/*  Main Image -  */

.mainimage {
    margin-bottom: 20px;
}

.mainimage img {
    height: 500px;
    width: 100%;
    object-fit: cover;
}

#coolsubtitlehere {
    font-weight: bolder;
    font-size: 30px;
    position: absolute; top: 500px; right:32px;
    letter-spacing: 1;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
}


#subtitleherecool {
    background-color: var(--highlight1);
    letter-spacing: 1;
    font-style:italic;
    font-family: 'Verdana', 'Geneva', 'Tahoma', 'sans-serif';
}

/* Main content */

main .flex {
  display: flex; 
  flex-direction: row;
  flex-wrap:wrap;
}

.sidenav {
    width:18%;
    text-align:center;
    color: var(--highlight2);
    font-family:'Courier New', Courier, monospace;
    font-size: 50px;
    font-weight:bolder;
    padding: 5px;
    border-right: 4px solid var(--theme);
    text-align: right;
    margin: 15px; 

}
/* recent photo with styling */

.recentphoto {
    background-color: var(--highlight2);
    height: 300px;
    width: 300px;
    margin: 20px 40px; 
    border-radius: 20px;
    box-shadow: 3px 3px var(--theme);
}

.detail {
    height:300px;
    width: 50%;
    line-height: 30px;
    color: var(--theme);
    margin: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;  
}

/* portfolio section  */



#portfolio-flex {

    max-width: 72%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin:20px;
}

.portfolio-item {
    width:48%;
    background-color: var(--highlight1);
    margin: 11px 0px;
    padding: 10px;

}

.portfoliomajor {
    width: 96%;
}



#flexcontact  {
    max-width: 100%;
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    margin-top: 10px;
    margin-left:35px;
}

.contactimage {
    height:80px;
    border-radius: 20px;
    border:solid var(--theme);
    margin-top: 3px;
    margin-left:35px;

}

footer {
    display: flex;
    justify-content: center;
    padding: 2%;
    background-color: var(--theme);
    color: #fff;
    margin-top: 15px;
}

/* responsive properties  */

@media only screen and (max-width: 600px) {
    #coolsubtitlehere {
        text-align: center;
    }

    .sidenav {
        border-right: none;
        height: auto;
        width:100%;
        text-align:center;
    }

    .header nav ul {
        text-align: center;
        line-height: 2;
    }

    .detail {
        width: auto;
        height: auto;
    }

    
    .portfolio-item {
        width:85%;
        margin: 25px 25px;
    }
    #portfolio-flex {
        max-width: none;
    } 
    #portfolio-flex a {
        
    } 
}
