/* Universal selector and elements */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color:whitesmoke;
}

body {
    background-color: whitesmoke;
    font-family: Arial;
}

a {
    text-decoration: none;
}

p {
    font-size: 16px;
    color:black;
}

/* Header properties */

.header {
    padding: 18px;
    font-family: 'courier new', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:rgb(36, 36, 36); 
}

.header h1 {
    display: inline-block;
    background-color: rgb(19, 149, 224);
    font-size: 52px;
    letter-spacing: 1.5;
    width: 370px;
    position: relative; top: 10; right: 17;
}
.header h1 .Dinh {
    position:relative; left: 75;
}

.header h1 .Tran {
    color:black;
    position: relative; left: 50;
}

/* Navigation properties */

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    margin-bottom: 35px;
    float: right;
    font-family: 'courier new', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 90px;
    position: relative; top:20px; right:40px;
    border-bottom: 2px solid cadetblue;
    position: relative;
}
/*  Main Image - custom designed */

.mainimage {
    margin-bottom: 20px;
}

.mainimage img {
    height: 500px;
    width: 100%;
    object-fit: cover;
}

#coolsubtitlehere {
    font-weight: bolder;
    font-size: 30px;
    position: absolute; top: 500px; right:32px;
    letter-spacing: 1;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    
}
#subtitleherecool {
    background-color: cadetblue;
    letter-spacing: 1;
    font-style:italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.flex {
    display: flex;
}

.box {
    height: 300px;
    width:18%;
    text-align:center;
    color: rgb(19, 149, 224);
    font-family:'Courier New', Courier, monospace;
    font-size: 50px;
    padding: 5px;
    border-right: 4px solid cadetblue;
    text-align: right;
    margin: 5px;
}

.box1 {
    background-color: royalblue;
    height: 300px;
    width: 300px;
    margin: 0px 70px;
    
}

.box2 {
    height:300px;
    width: 800px;
    line-height: 30px;
    color: black;
    margin-top: 15px;
    
}

    